# App
NODE_ENV=development
PORT=3003

# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/Auctra"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET=your-jwt-access-secret

# AWS S3
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=auctra-auction-media
