# App
NODE_ENV=development
PORT=3002

# PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/Auctra"

# MongoDB
MONGODB_URI=mongodb://localhost:27017/auctra_user_logs

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET=your-access-secret-key
